*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: random;
  src: url("display.ttf");
}

.App{
  height: 100vh;
  padding: 20px;
  background: #1b1b32;
  font-family: random;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.title-container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title{
color:#fff;
}

.calculator-container{
  width: 400px;
  padding: 14px;
  background: #b1b133;
  border-radius: 20px; 
  border: 4px solid #fff;
}

.row {
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}